@import "../themes/maru/sass/style.sass"

$pc: 1024px // PC
$tab: 880px // タブレット
$sp: 480px // スマホ

@mixin pc
    @media (max-width: ($pc))
        @content

@mixin tab
    @media (max-width: ($tab))
        @content

@mixin sp
    @media (max-width: ($sp))
        @content

.big-link
    margin-bottom: 1rem
    line-height: 1.5rem
    display: inline-flex
    a
        font-size: 2rem
        padding-bottom: 0.25rem
    span
        opacity: 50%
        font-size: 1rem
        margin-left: 1rem
        margin-top: 0.15rem

    @include tab
        flex-direction: column
        span
            margin-left: 0rem
            font-size: 0.75rem
        a
            width: fit-content

#splash
    width: 45%
    overflow: visible
